In [21]:
import pandas as pd
import numpy as np
from pandas import Series

`Series` data structure
1D data
Every record has a `index` and `value`

In [22]:
marks = [5, 7, 10, 4, 2, 8, 9, 10]

In [23]:
s1 = Series(marks, dtype=np.int8) # default index series 0-7
print(s1)
print(type(s1))
print(s1.dtype)
print(s1.index)
v = s1.values
print(v)
print(type(v))

0     5
1     7
2    10
3     4
4     2
5     8
6     9
7    10
dtype: int8
<class 'pandas.core.series.Series'>
int8
RangeIndex(start=0, stop=8, step=1)
[ 5  7 10  4  2  8  9 10]
<class 'numpy.ndarray'>

In [24]:
roll_nos = [1, 5, 3, 6, 7, 10, 15, 20]
s2 = Series(marks, index=roll_nos, dtype=np.int8)
print(s2)

1      5
5      7
3     10
6      4
7      2
10     8
15     9
20    10
dtype: int8

In [25]:
student_marks = {1: 5, 5: 7, 3: 10, 6: 4, 7: 2, 10: 8, 15: 9, 20: 10}
s3 = Series(student_marks)
print(s3)

1      5
5      7
3     10
6      4
7      2
10     8
15     9
20    10
dtype: int64

In [26]:
# indexing
# user supplied indexing
print(s2.loc[3])
print(s2.loc[15])

# implicit 0 based range indexing
print(s2.iloc[0])
print(s2.iloc[-2])

10
9
5
9

In [27]:
# indexing + modification
s2.loc[5] = 3
print(s2)

1      5
5      3
3     10
6      4
7      2
10     8
15     9
20    10
dtype: int8

In [28]:
s2.iloc[-1] = 7
print(s2)

1      5
5      3
3     10
6      4
7      2
10     8
15     9
20     7
dtype: int8

In [30]:
# multiindexing
print(s2.loc[[7, 15, 20]])

print(s2.iloc[[0, 1, -1]])

7     2
15    9
20    7
dtype: int8
1     5
5     3
20    7
dtype: int8

In [32]:
# slicing
s5 = s2.iloc[:4]
print(s5)

s6 = s2.iloc[-3:]
print(s6)

1     5
5     3
3    10
6     4
dtype: int8
10    8
15    9
20    7
dtype: int8

In [34]:
# slicing based on user provided index
s7 = s2.loc[1:3] # end index is included. it is not exclusive
print(s7)

1     5
5     3
3    10
dtype: int8

In [38]:
# filtering
print(s2)
s8 = s2[s2 > 5]
print(s8)
s9 = s2[(s2 == 10) | (s2 < 5)]
print(s9)

1      5
5      3
3     10
6      4
7      2
10     8
15     9
20     7
dtype: int8
3     10
10     8
15     9
20     7
dtype: int8
5     3
3    10
6     4
7     2
dtype: int8

In [40]:
# arithmetic operations
print(s2)
s10 = s2 - 1
print(s10)

1      5
5      3
3     10
6      4
7      2
10     8
15     9
20     7
dtype: int8
1     4
5     2
3     9
6     3
7     1
10    7
15    8
20    6
dtype: int8

In [45]:
# descriptive statistics
print(s2)
print(s2.min())
print(s2.max())
print(s2.sum())
print(s2.mean())
print(s2.median())
print(s2.mode())
print(s2.std())
print(s2.var())

1      5
5      3
3     10
6      4
7      2
10     8
15     9
20     7
dtype: int8
2
10
48
6.0
6.0
0     2
1     3
2     4
3     5
4     7
5     8
6     9
7    10
dtype: int8
2.9277002188455996
8.571428571428571

In [48]:
s11 = s2.describe()
print(s11)
print(s11.loc[['mean', 'std']])

count     8.0000
mean      6.0000
std       2.9277
min       2.0000
25%       3.7500
50%       6.0000
75%       8.2500
max      10.0000
dtype: float64
mean    6.0000
std     2.9277
dtype: float64

In [54]:
s2.loc[20] = 10
s2.loc[15] = 4
print(s2)

1      5
5      3
3     10
6      4
7      2
10     8
15     4
20    10
dtype: int8

In [58]:
print(s2.unique())
s20 = s2.value_counts()
print(s20)

[ 5  3 10  4  2  8]
10    2
4     2
5     1
3     1
2     1
8     1
Name: count, dtype: int64

In [59]:
s21 = s2.value_counts(ascending=True)
print(s21)

5     1
3     1
2     1
8     1
10    2
4     2
Name: count, dtype: int64

In [62]:
print(s2)
s22 = s2.sort_index(ascending=False)
print(s22)

1      5
5      3
3     10
6      4
7      2
10     8
15     4
20    10
dtype: int8
20    10
15     4
10     8
7      2
6      4
5      3
3     10
1      5
dtype: int8

In [64]:
print(s2)
s23 = s2.sort_values(ascending=False)
print(s23)

1      5
5      3
3     10
6      4
7      2
10     8
15     4
20    10
dtype: int8
3     10
20    10
10     8
1      5
6      4
15     4
5      3
7      2
dtype: int8